.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(180deg, rgba(0, 0, 0, 0.49) 70.31%, rgba(112, 112, 112, 0.7) 100%), url("./assets/hero-min.jpg");
}

.hero-nav {
  background: rgba(0, 0, 0, 0.48);
}

.recognition {
  background: rgba(72, 102, 81, 0.13);
}

.storycard {
  background: rgba(0, 74, 173, 0.8);
}

.service-bg {
  background: url("./assets/servicesBG-min.png")
}

.chooseUS {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/choose-min.jpg")
}

.chooseCard {
  background: rgba(36, 81, 142, 0.8);
}

.card1 {
  background:  linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 78.12%, rgba(0, 0, 0, 0.7) 100%), url("./assets/immigration1-min.png")
}

.card2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 75.52%, rgba(0, 0, 0, 0.7) 100%), url("./assets/bankruptcy1-min.png")
}

.card3 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url("./assets/criminal1-min.png")
}

.card4 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url("./assets/divorce1-min.png")
}

.reviewBox {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("./assets/client-min.jpg");
}

.footer {
  background: linear-gradient(0deg, rgba(6, 6, 6, 0.78), rgba(6, 6, 6, 0.78)), url("./assets/footer-min.jpg");
}
